.wrapper {
 padding: 50px;
}
.container {
    display: flex;
    margin: 30px;
}

.flights {
    display: table;
    background-color: #eee;
    border: 1px solid #666666;
}
.header {
    max-width: 40%;
    border: 1px solid lightgrey;
    padding: 10px;
    margin: 30px;
    font-size: 1.4rem;
}
.workers-header {
    background-color: cyan;
    height: 60px;
    text-align: center;
    line-height: 60px;
    width:150px;
}
.row {
    display: table-row;
    width: auto;
    
}
.col {
    float: left;
    display: table-column;
    width: 160px;
    line-height: 50px;
    
}
.heading {
    margin-left: 10px;
    line-height: 30px
}
.title {
    font-weight: bold;
    font-size: 1rem;
    width: 140px;
}
.line-hover {
    background-color: #efefef;
    cursor: pointer;
}
.table-header {
    margin-top: 20px;
    font-weight: bold;
}

.header-style
{
    border-top:1px solid lightslategray;
    border-bottom:1px solid lightslategray;
}
.details 
{
    display: flex;
    align-content: space-between;
    cursor: none;
}
.colum-wrapper {
    border: 1px solid black;
    
}
.table-heading {
    padding: 20px;
}
.title + div
{
    width: 90px;
}