.container {
    display: flex;
    justify-content: space-between;
    max-width: 75%;;
    margin : 0 auto;
}

.flights {
    display: table;         
    width: auto;         
    background-color: #eee;         
    border: 1px solid #666666;         
 
  }
  .row {
    display: table-row;
    width: auto;
    clear: both;
  }
  .col {
    float: left;
    display: table-column;         
    width: 160px;         
    background-color: #ccc;  
  }
  .worker{
     font-size: 1rem;
     font-weight: bold;
  }